@model E_commerce.Models.AllProduct.Products

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-gradient bg-black">
                    <h3 class="card-title text-center personal-title text-light">Dettagli Prodotto</h3>
                </div>
                <div class="card-body mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Visualizza l'immagine del prodotto -->
                            @if (Model.Image != null && Model.Image.Length > 0)
                            {
                                <img class="img-fluid img-height-personal" src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" alt="@Model.Name" />
                            }
                            else
                            {
                                <p class="playpen-sans">Nessuna immagine disponibile</p>
                            }
                        </div>
                        <div class="col-md-6">
                            <h3 class="playpen-sans">@Model.Name</h3>

                            <!-- Collapsible per la descrizione -->
                            <div class="description my-2">
                                <div class="description-title" id="toggleDescription">
                                    <span class="playpen-sans">Descrizione</span>
                                    <span id="toggleIcon">+</span>
                                </div>
                                <div class="description-content" id="descriptionContent">
                                    <p class="playpen-sans">@Model.Description</p>
                                </div>
                            </div>

                            <p><strong>Prezzo:</strong> <span class="playpen-sans">@Model.Price.ToString("C")</span></p>

                            <p><strong>Quantità disponibile:</strong> @Model.StockQuantity</p>

                            <p><strong>Categoria:</strong> @Model.Category.CategoryName</p>

                            <!-- Prodotto disponibile -->
                            <button id="openMenuBtn" class="button-56 mb-3 playpen-sans">Mostra dettagli tecnici</button>

                            <!-- Verifica disponibilità -->
                            @if (Model.StockQuantity == 0)
                            {
                                <!-- Prodotto non disponibile -->
                                <p class="text-danger playpen-sans">Non disponibile</p>
                                <button class="button-55 mt-2 playpen-sans" disabled style="background-color: gray; cursor: not-allowed;">
                                    Non acquistabile
                                </button>
                            }
                            else
                            {
                                <!-- Selezione taglie con bottoni -->
                                <form id="addToCartForm" asp-action="AddToCart" asp-controller="Cart" method="post">
                                    <div class="form-group mb-3">
                                        <label for="size" class="playpen-sans">Seleziona la taglia:</label>
                                        <div class="size-selector d-flex flex-wrap">
                                            @foreach (var size in Model.Sizes.Split(','))
                                            {
                                                <div class="size-option">
                                                    <input type="radio" name="size" id="size_@size" value="@size.Trim()" />
                                                    <label for="size_@size" class="btn btn-outline-secondary">
                                                        @size.Trim()
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                    <!-- Campo input per la quantità -->
                                    <div class="form-group mb-3">
                                        <label for="quantity" class="playpen-sans">Quantità:</label>
                                        <input type="number" id="quantity" name="quantity" class="form-control input-personal w-50" value="1" min="1" max="@Model.StockQuantity" required />
                                    </div>

                                    <input type="hidden" name="productId" value="@Model.ProductId" />
                                    <button type="submit" class="button-55 mt-2 playpen-sans">Aggiungi al carrello</button>
                                </form>
                            }

                            @if (User.IsInRole("admin"))
                            {
                                <div class="d-flex align-items-center mt-3">
                                    <a href="@Url.Action("Edit", "Product", new { id = Model.ProductId })" class="playpen-sans button-56 me-2">Modifica</a>
                                    <!-- Pulsante di Eliminazione -->
                                    <form id="deleteProductForm" asp-action="Delete" asp-controller="Product" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" value="@Model.ProductId" name="id" />
                                        <button type="button" id="deleteButton" class="button-57">Elimina</button>
                                    </form>
                                </div>
                                <!-- Messaggio di conferma eliminazione -->
                                <div id="confirmDelete" class="confirm-delete">
                                    <p>Sei sicuro di voler eliminare questo prodotto?</p>
                                    <button type="submit" class="button-55">Conferma</button>
                                    <button type="button" id="cancelButton" class="button-55">Annulla</button>
                                </div>

                                
                            }
                        </div>
                    </div>

                    <!-- Prodotti correlati -->
                    <hr />
                    <div class="related-products mt-4">
                        <h4 class="playpen-sans">Prodotti correlati</h4>
                        <div class="row">
                            @if (ViewBag.RelatedProducts != null)
                            {
                                @foreach (var relatedProduct in ViewBag.RelatedProducts)
                                {
                                    <div class="col-md-3">
                                        <div class="custom-related-product-wrapper position-relative">
                                            <a href="@Url.Action("Details", "Product", new { id = relatedProduct.ProductId })">
                                                @if (relatedProduct.Image != null)
                                                {
                                                    <img class="custom-related-product-image img-fluid" src="data:image/png;base64,@Convert.ToBase64String(relatedProduct.Image)" alt="@relatedProduct.Name" />
                                                }
                                            </a>

                                            <!-- Badge "NEW" in alto a sinistra -->
                                            <span class="badge badge-new position-absolute top-0 start-0 m-2">NEU</span>

                                            <!-- Prezzo in basso a sinistra -->
                                            <span class="badge price-badge position-absolute bottom-0 start-0 m-2">@relatedProduct.Price.ToString("C")</span>

                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>Nessun prodotto correlato disponibile.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Menù laterale -->
<div id="offCanvasMenu" class="offcanvas-menu">
    <div class="offcanvas-header m-0">
        <h5 class="personal-title">Dettagli Tecnici</h5>
        <button id="closeMenuBtn" class="offcanvas-close">&times;</button>
    </div>
    <div class="offcanvas-body">
        <!-- Sezione per i dettagli tecnici -->
        @if (!string.IsNullOrEmpty(Model.TechnicalDetails))
        {
            <hr />
            <ul>
                @foreach (var sentence in Model.TechnicalDetails.Split(new[] { '.' }, StringSplitOptions.RemoveEmptyEntries))
                {
                    <li class="playpen-sans mb-3">@sentence.Trim()</li>
                }
            </ul>
        }
    </div>
</div>

<!-- Overlay sfumato dietro il menù laterale -->
<div id="bodyOverlay" class="body-overlay"></div>

<!-- Script -->
<script src="/js/details.js"></script>