@model IEnumerable<E_commerce.Models.AllProduct.Products>

@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>





<h3>Products:</h3>
<div class="container">
    <div class="row">

        @foreach (var product in Model)
        {
            <div class="card" style="width: 18rem;">
                
                @if (product.Image != null && product.Image.Length > 0)
                {
                    <img class="card-img-top"src="data:image/png;base64,@Convert.ToBase64String(product.Image)" alt="@product.Name" />
                }
                else
                {
                    <span>Nessuna immagine</span>
                }
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">@product.Price.ToString("C")</p>
                    <p action="card-text">@product.Category.CategoryName</p>
                <form asp-action="AddToCart" asp-controller="Cart" method="post">
                    <input type="hidden" name="productId" value="@product.ProductId" />

                    <label for="quantity">Quantità:</label>
                    <input type="number" name="quantity" min="1" value="1" class="form-control mb-2" style="width: 80px;" />

                    <button type="submit" class="btn btn-primary">Acquista Ora</button>
                </form>

                @if (User.IsInRole("admin"))
                {
                    <a href="@Url.Action("Edit", "Product", new { id = product.ProductId })" class="btn btn-primary">Modifica</a>
                        <form asp-controller="Product" asp-action="Delete" method="post" onsubmit="return confirm('Sei sicuro di voler eliminare questo prodotto?')">
                            @Html.AntiForgeryToken()
                            <input type="hidden" value="@product.ProductId" name="id" />
                            <button type="submit" class="btn btn-danger">Elimina</button>
                        </form>                
                }
                </div>
            </div>
        }
        </div>

</div>
