@model IEnumerable<E_commerce.Models.AllProduct.Products>

@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        @if (product.Image != null && product.Image.Length > 0)
                        {
                            <img src="data:image/png;base64,@Convert.ToBase64String(product.Image)" alt="Animal Image" style="width: 100px; height: auto;" />
                        }
                        else
                        {
                            <span>Nessuna immagine</span>
                        }
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">@product.Price.ToString("C")</p>
                        <p class="card-text">Categoria: @product.Category.CategoryName</p>
                        <form asp-action="AddToCart" asp-controller="Cart" method="post">
                            <input type="hidden" name="productId" value="@product.ProductId" />

                            <label for="quantity">Quantità:</label>
                            <input type="number" name="quantity" min="1" value="1" class="form-control mb-2" style="width: 80px;" />

                            <button type="submit" class="btn btn-primary">Acquista Ora</button>
                        </form>
                        @if (User.IsInRole("admin"))
                        {
                            <a href="@Url.Action("Edit", "Product", new { id = product.ProductId })" class="btn btn-primary">Modifica</a>
                        }
                    </div>
                    </div>
                </div>
        }
    </div>
</div>
