@using E_commerce.Models.AllProduct;
@{
    ViewData["Title"] = "Aggiungi Prodotto";
    var categories = ViewBag.Categories as List<Categories>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light @(ViewContext.RouteData.Values["controller"].ToString() == "Auth" &&
                                (ViewContext.RouteData.Values["action"].ToString() == "Login" ||
                                 ViewContext.RouteData.Values["action"].ToString() == "Profile" ||
                                 ViewContext.RouteData.Values["action"].ToString() == "Register") ||
                                 (ViewContext.RouteData.Values["controller"].ToString() == "Order" &&
                                  ViewContext.RouteData.Values["action"].ToString() == "OrderDetails") ? "" : "body-bg")">
            <div class="container-fluid justify-content-between">
                <!-- Left elements -->
                <div class="d-flex">
                    <!-- Brand -->
                    <a class="navbar-brand me-2" asp-controller="Home" asp-action="Index">
                        <img src="~/img/Modern Minimalist Graffiti Dream Brand Logo.png"
                             alt="Brand Logo"
                             loading="lazy"
                             style="width: 125px; height:85px;" />
                    </a>

                </div>
                <!-- Center elements -->
                <ul class="navbar-nav flex-row d-md-flex">
                    <li class="nav-item me-3 me-lg-1 active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">
                            <span><i class="bi bi-house fa-lg"></i></span>
                        </a>
                    </li>

                    <li class="nav-item me-3 me-lg-1">
                        @if (!(ViewContext.RouteData.Values["Controller"].ToString() == "Auth" && (ViewContext.RouteData.Values["Action"].ToString() == "Login" || ViewContext.RouteData.Values["Action"].ToString() == "Register"))
                        && !(ViewContext.RouteData.Values["Controller"].ToString() == "Product" && (ViewContext.RouteData.Values["Action"].ToString() == "Create" || ViewContext.RouteData.Values["Action"].ToString() == "Edit")))
           {
                            <a class="nav-link position-relative" asp-controller="Cart" asp-action="CartProduct">
                                <i class="bi bi-cart fa-lg"></i>
                                <!-- Badge -->
                                @await Html.PartialAsync("_CartItemCountPartial", (int?)ViewBag.CartItemCount ?? 0)
                            </a>
                        }
                    </li>                    
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item me-3 me-lg-1">
                            <a class="nav-link" asp-controller="Product" asp-action="Create">
                                <span><i class="bi bi-plus fa-lg"></i></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Dashboard", "Admin")"><i class="bi bi-speedometer fa-lg"></i></a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item me-3 me-lg-1">
                            <a class="nav-link" asp-controller="Auth" asp-action="Profile">
                                <span><i class="bi bi-person fa-lg"></i></span>
                            </a>
                        </li>
                    }
                </ul>
                <!-- Right elements -->
                <ul class="navbar-nav flex-row">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item me-3 me-lg-1">
                            <a class="nav-link" asp-controller="Auth" asp-action="Logout">
                                <span><i class="bi bi-box-arrow-right"></i></span> Logout
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item me-3 me-lg-1">
                            <a class="nav-link" asp-controller="Auth" asp-action="Login">
                                <span><i class="bi bi-box-arrow-in-right"></i></span> Login
                            </a>
                        </li>
                        <li class="nav-item me-3 me-lg-1">
                            <a class="nav-link" asp-controller="Auth" asp-action="Register">
                                <span><i class="bi bi-pencil-square"></i></span> Register
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid @(ViewContext.RouteData.Values["controller"].ToString() == "Auth" &&
                            (ViewContext.RouteData.Values["action"].ToString() == "Login" ||
                             ViewContext.RouteData.Values["action"].ToString() == "Profile" ||
                             ViewContext.RouteData.Values["action"].ToString() == "Register") ||
                             (ViewContext.RouteData.Values["controller"].ToString() == "Order" &&
                              ViewContext.RouteData.Values["action"].ToString() == "OrderDetails") ? "" : "body-bg") ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@*     @if (!(ViewContext.RouteData.Values["controller"].ToString() == "Auth" && ViewContext.RouteData.Values["action"].ToString() == "Profile"))
    { *@
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-1 border-top @(ViewContext.RouteData.Values["controller"].ToString() == "Auth" &&
                                (ViewContext.RouteData.Values["action"].ToString() == "Login" ||
                                 ViewContext.RouteData.Values["action"].ToString() == "Profile" ||
                                 ViewContext.RouteData.Values["action"].ToString() == "Register") ||
                                 (ViewContext.RouteData.Values["controller"].ToString() == "Order" &&
                                  ViewContext.RouteData.Values["action"].ToString() == "OrderDetails") ? "" : "body-bg")">
        <div class="col-md-4 d-flex align-items-center">
            <a class="navbar-brand me-2" asp-controller="Home" asp-action="Index">
                <img src="~/img/Modern Minimalist Graffiti Dream Brand Logo.png"
                     alt="Brand Logo"
                     loading="lazy"
                     style="width: 125px; height:85px;" />
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Stefano, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="me-3 me-lg-1 active">
                <a class="text-decoration-none" asp-controller="Home" asp-action="Index">
                    <span><i class="bi bi-house fa-lg"></i></span>
                </a>
            </li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
@*     } *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
